@charset "utf-8";
@font-face {
    font-family: "mainF";
    src: url("../../common/SUITE-Regular.otf") format('opentype');

}

*{
    /* 기본세팅 */
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'mainF';
}
.himg{
    display: none;
}
a:hover{
    text-decoration: none;
}
.top{
    background-color: #96D4AD;
    height: 215px;
}
.top-wrap{
    padding-top: 52px;
}
.table-wrap{
    display: table;
    width: 94%;
    min-width: 1100px;
}
.top-li{
    display: table-cell;
    
}
.btnchange{
    padding-top: 62px;
    

}
.logo{
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;

}
.btnuser{
    padding-top: 62px;
    text-align: right;
}
.btncart{
    padding-top: 62px;
    text-align: right;
}

/* 메뉴바 시작 */
.menu{
    height: 160px;
    background-color: #EAE0BC;
}
.menu-wrap{
    display: table;
    width: 50%;
    padding-top: 90px;
}
.menuli{
    display: table-cell;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #545B45;
}
.m_tile:hover{
    font-size: 28px;
}
.m_tile:hover .himg{
    display: inline-block;
}

/* 헤더 끝*/


/* body 부분 시작 */

.bodywrap{
    padding-top: 100px;
    background-color: #EAE0BC;
    padding-bottom: 50px;
    
}

.loadtext{
    width: 90%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 5px;
}

.bodybg1{
    width: 1150px;
    height: 1000px;
    background: url(/resources/img/sj_image/bodytools.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
    padding-top: 10px;
}

.bodybg2{
    margin-top: 110px;
    margin-bottom: 10px;
    
}



#map{
    border: 0px;
    border-radius: 50px;
}

.maptext1{
    margin-top: 50px;
    margin-left: 180px;
    font-size: 20px;
    line-height: 0.8;
}
.maptext2{
    margin-left: 180px;
    font-size: 20px;
    line-height: 0.8;

}
.maptext3{
    margin-left: 180px;
    font-size: 20px;
    line-height: 0.8;

}

.maptextimg{
    width: 25px;
    height: 25px; 
    margin-bottom: 5px
}

.bottomimg{
    display: inline;
    position: relative;
    bottom: 290px;
    left:  770px;

}

/* body 부분 끝 */

.bottom{
    height: auto;
    background-color: #7D6554;
  }
  
  .site{
    font-size: 25px;
    color: #EAE0BC;
    text-align: center;
    padding-top: 40px;
  }
  .site image{
   display: block;
  }
  .copy{
    text-align: center;
    font: 25px;
    padding-top: 55px;
    color: rgb(207, 161, 101);
    padding-bottom: 25px;
}




